:root {
    --blue: #43A1D5;
    --gold: #D5B048;
    --navy_blue: #173E69;

    --light_blue: #AEDDF8;
    --light_gold: #F3DFA5;
    --light_navy_blue: #3772B4;

    --background: #FFFFFF;
    --onBackground: #000000;
}

.upper-part {
    background-color: var(--navy_blue);
}

.header-img {
    width: 100%;
}

.content {
    background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(255, 255, 255, .25) 25%, rgba(255, 255, 255, .5) 40%, rgba(255, 255, 255, .75) 60%, rgba(255, 255, 255, 1) 100%) repeat scroll 0 0;
    position: relative;
    margin-top: -31.25rem;
    height: 31.25rem;
}

.welcome-title {
    color: var(--navy_blue);
    font-family: 'Oswald';
    font-size: 3.5rem;
    position: absolute;
    bottom: 3rem;
    left: 2rem;
}

.page-container {
    padding: 2rem 2rem 0 2rem;
}

.app-container {
    display: flex;
    flex-direction: row;
}

.y-axis-title {
    width: 5%;
    position: relative;
    margin: auto 0 auto 1rem;
}

.radio-container{
    margin-top: 1rem;
}

.graph-container {
    flex: 1 1 auto;
}

.radio-group-text {
    margin-bottom: 1rem;
}

.markdown-title {
    font-family: 'Oswald';
    color: var(--navy_blue);
}

.metric-text {
    display: none;
}

.radio-items {
    display: flex;
    flex-direction: row;
}

span, p {
    margin-left: 1rem;
}